.Temp2{
    width: 80vw;
    height: 70vh;
    background-color: #ffffff;
    /*border: 2px solid red;*/
    border-radius: 10px;
}
.Background{
    width: 80vw;
    height: 70vh;
    background-color: #ffffff;
    border: 2px solid red;
    border-radius: 10px;
}