.Menu{
    width: 80vw;
    height: 70px;
    background-color: #282828;
    border-radius: 25px;
    position: absolute;
    left: 10vw;
    bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.Menu div{
    width: 95%;
    height: 90%;
}
.MenuButton{
    /*border: 1px solid red;*/
    display: grid;
    align-content: center;
    justify-items: center;
    text-decoration: none;
    color: white;
}